<br>
<br>
<h1>Log In</h1>
<%= form_tag sessions_path do %>
<div class="field">
<%= label_tag :email %><br>
<%= text_field_tag :email %>
</div>
  <div class="field">
    <%= label_tag :password_digest %><br>
	<%= password_field_tag :password_digest %>
</div>
  <div class="actions">
    <%= submit_tag "Log In" %>
</div>
<% end %>

<p class="help">Find me in app/views/sessions/new.html.erb</p>
